<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.usp.ime.tcc.activities"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="br.usp.ime.tcc.activities.MainActivity"
            android:label="@string/color_blindness_accessibility_toolkit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.FilterActivity"
            android:label="@string/app_name"
            android:parentActivityName="br.usp.ime.tcc.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.tcc.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.ColorHighlightFilterActivity"
            android:label="@string/color_highlight"
            android:parentActivityName="br.usp.ime.tcc.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.tcc.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.SimulationFilterActivity"
            android:label="@string/simulation_filter"
            android:parentActivityName="br.usp.ime.tcc.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.tcc.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.VisocorFilterActivity"
            android:label="@string/visocor_filter"
            android:parentActivityName="br.usp.ime.tcc.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.tcc.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.bitmap.BitmapFilterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.bitmap.VisocorBitmapFilterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.bitmap.ColorHighlightBitmapFilterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.bitmap.SimulationBitmapFilterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.colorpicker.SettingsColorPickerActivity"
            android:label="@string/color_picker"
            android:parentActivityName="br.usp.ime.tcc.activities.settings.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.tcc.activities.settings.SettingsActivity" />
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.colorpicker.ImageColorPickerActivity"
            android:label="@string/color_picker"
            android:parentActivityName="br.usp.ime.tcc.activities.filter.bitmap.ColorHighlightBitmapFilterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.tcc.activities.filter.bitmap.ColorHighlightBitmapFilterActivity" />
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="br.usp.ime.tcc.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.usp.ime.tcc.activities.MainActivity" />
        </activity>
        <activity
            android:name="br.usp.ime.tcc.activities.filter.continous.ContinousFilterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="br.usp.ime.tcc.activities.filter.continous.VisocorContinousFilterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="br.usp.ime.tcc.activities.filter.continous.SimulationContinousFilterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>